.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.texto-descripcion {
  font-size: small;
  color: #222d1d;
}

.texto-titulo {
  font-size: x-large;
  color: #222d1d;
}
